{% extends "ind.html" %}

{% block content2 %}
<div id="page">
    <div class="sidebar-left-article">
        <div class="article">
            <div id="content_box">
                <h1 class="postsby">
                    <span>Ваши новости</span>
                </h1>
                <p></p>
                <main role="main" class="container">
                    {% block content1 %}{% endblock %}
                </main>
            </div>
        </div>
        <aside id="sidebar" class="sidebar c-4-12 sidebar-left" role="complementary" itemscope>
            <div id="mts_featured_author_box_widget-2" class="widget widget_mts_featured_author_box_widget">
                <div class="mts-author-box">
                    <div class="mts-author-box-top">
                        {% if current_user.img %}
                        <div class="mts-profile-avatar"><img alt=''
                                                             src="{{ url_for('static', filename='img/' + current_user.img)}}"
                                                             class='avatar avatar-90 photo' height='90' width='90'
                                                             loading='lazy'/></div>
                        {% else %}
                        <div class="mts-profile-avatar"><img alt=''
                                                             src="{{ url_for('static', filename='img/cat.jpg')}}"
                                                             class='avatar avatar-90 photo' height='90' width='90'
                                                             loading='lazy'/></div>
                        {% endif %}
                        <div class="mts-profile-links"><strong>{{ current_user.name }}</strong>
                        </div>
                    </div>
                    <div class="mts-author-box-bottom"><a
                            class="mts-author-box-full"><strong>{{ your_count }}</strong><span><i
                            class="fa fa-file-text"></i>Posts</span></a>
                    </div>
                </div>
            </div>
            <div id="categories-2" class="widget widget_categories"><h3 class="widget-title">Категории</h3>
                <ul>
                    <li class="cat-item cat-item-2"><a href="/home_page/{{ user_id }}">Все новости</a>
                    </li>
                    <li class="cat-item cat-item-2"><a href="/home_page/{{ user_id }}/{{ 1 }}">Развлечение</a>
                    </li>
                    <li class="cat-item cat-item-3"><a href="/home_page/{{ user_id }}/{{ 2 }}">Мир</a>
                    </li>
                    <li class="cat-item cat-item-4 current-cat"><a aria-current="page"
                                                                   href="/home_page/{{ user_id }}/{{ 3 }}">Наши новости</a>
                    </li>
                    <li class="cat-item cat-item-4 current-cat"><a aria-current="page"
                                                                   href="/home_page/{{ user_id }}/{{ 4 }}">Для детей</a>
                    </li>
                    <li class="cat-item cat-item-5"><a
                            href="/home_page/{{ user_id }}/{{ 5 }}">Компьютерные технологии</a>
                    </li>
                </ul>
            </div>
            <a href="/" class="btn btn-secondary">Вернуться назад</a>
            <a href="news" class="btn btn-secondary">Добавить запись</a>

            <div id="mts_ad_300_widget-2" class="widget mts_ad_300_widget">
                <div class="ad-300"><a href="https://mythemeshop.com/themes/socialme/"><img
                        src="https://demo.mythemeshop.com/socialme/files/2016/02/ad-300x250.png" alt=""/></a></div>
            </div>
        </aside>
    </div>
    <aside id="sidebar" class="sidebar c-4-12 mts-sidebar-sidebar" role="complementary" itemscope>
        <div id="mts_popular_posts_widget-2" class="widget widget_mts_popular_posts_widget horizontal-small"><h3
                class="widget-title">Popular Posts</h3>
            <ul class="popular-posts">
                <li class="post-box horizontal-small horizontal-container">
                    <div class="horizontal-container-inner">
                        <div class="post-img">
                            <a href="https://demo.mythemeshop.com/socialme/2016/04/11/these-incredible-portraits-werent-captured-with-a-camera-but-with-a-pencil/"
                               title="These Incredible Portraits Weren&#8217;t Captured With A Camera, But With A Pencil.">
                                <img width="65" height="50"
                                     src="https://demo.mythemeshop.com/socialme/files/2015/04/pencil-65x50.jpg"
                                     class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
                                     alt="" loading="lazy" title=""/> </a>
                        </div>
                        <div class="post-data">
                            <div class="post-data-container">
                                <div class="post-title">
                                    <a href="https://demo.mythemeshop.com/socialme/2016/04/11/these-incredible-portraits-werent-captured-with-a-camera-but-with-a-pencil/"
                                       title="These Incredible Portraits Weren&#8217;t Captured With A Camera, But With A Pencil.">These
                                        Incredible Portraits Weren&#8217;t Captured&nbsp;&hellip;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="post-box horizontal-small horizontal-container">
                    <div class="horizontal-container-inner">
                        <div class="post-img">
                            <a href="https://demo.mythemeshop.com/socialme/2016/04/11/this-photographer-and-her-bunny-have-epic-photo-shoots-its-just-too-cute/"
                               title="This Photographer And Her Bunny Have Epic Photo Shoots. [Zoom Out Post]">
                                <img width="65" height="50"
                                     src="https://demo.mythemeshop.com/socialme/files/2014/11/meat-65x50.jpg"
                                     class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
                                     alt="" loading="lazy" title=""/> </a>
                        </div>
                        <div class="post-data">
                            <div class="post-data-container">
                                <div class="post-title">
                                    <a href="https://demo.mythemeshop.com/socialme/2016/04/11/this-photographer-and-her-bunny-have-epic-photo-shoots-its-just-too-cute/"
                                       title="This Photographer And Her Bunny Have Epic Photo Shoots. [Zoom Out Post]">This
                                        Photographer And Her Bunny&nbsp;&hellip;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="post-box horizontal-small horizontal-container">
                    <div class="horizontal-container-inner">
                        <div class="post-img">
                            <a href="https://demo.mythemeshop.com/socialme/2016/04/10/these-pixelated-portraits-are-created-using-something-unexpected-but-genius/"
                               title="These Pixelated Portraits Are Created Using Something Unexpected [Video Post]">
                                <div class="post-format-icons"><i class="fa fa-video-camera"></i></div>
                                <img width="65" height="50"
                                     src="https://demo.mythemeshop.com/socialme/files/2015/04/food-65x50.jpg"
                                     class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
                                     alt="" loading="lazy" title=""/> </a>
                        </div>
                        <div class="post-data">
                            <div class="post-data-container">
                                <div class="post-title">
                                    <a href="https://demo.mythemeshop.com/socialme/2016/04/10/these-pixelated-portraits-are-created-using-something-unexpected-but-genius/"
                                       title="These Pixelated Portraits Are Created Using Something Unexpected [Video Post]">These
                                        Pixelated Portraits Are Created&nbsp;&hellip;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="post-box horizontal-small horizontal-container">
                    <div class="horizontal-container-inner">
                        <div class="post-img">
                            <a href="https://demo.mythemeshop.com/socialme/2014/03/26/the-ghosts-of-chernobyl-live-in-this-creepy-amusement-park-can-i-go/"
                               title="The Ghosts of Chernobyl Live In This Creepy Amusement Park. Can I Go??">
                                <img width="65" height="50"
                                     src="https://demo.mythemeshop.com/socialme/files/2014/03/city-65x50.jpg"
                                     class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
                                     alt="" loading="lazy" title=""/> </a>
                        </div>
                        <div class="post-data">
                            <div class="post-data-container">
                                <div class="post-title">
                                    <a href="https://demo.mythemeshop.com/socialme/2014/03/26/the-ghosts-of-chernobyl-live-in-this-creepy-amusement-park-can-i-go/"
                                       title="The Ghosts of Chernobyl Live In This Creepy Amusement Park. Can I Go??">The
                                        Ghosts of Chernobyl Live&nbsp;&hellip;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="post-box horizontal-small horizontal-container">
                    <div class="horizontal-container-inner">
                        <div class="post-img">
                            <a href="https://demo.mythemeshop.com/socialme/2014/03/26/these-20-redesigned-movie-posters-are-even-cooler-than-the-movies-wow/"
                               title="These 20 Redesigned Movie Posters Are Even Cooler Than The Movies&#8230; WOW.">
                                <img width="65" height="50"
                                     src="https://demo.mythemeshop.com/socialme/files/2014/03/phone-65x50.jpg"
                                     class="attachment-socialme-widgetthumb size-socialme-widgetthumb wp-post-image"
                                     alt="" loading="lazy" title=""
                                     srcset="https://demo.mythemeshop.com/socialme/files/2014/03/phone-65x50.jpg 65w, https://demo.mythemeshop.com/socialme/files/2014/03/phone-300x225.jpg 300w, https://demo.mythemeshop.com/socialme/files/2014/03/phone-768x576.jpg 768w, https://demo.mythemeshop.com/socialme/files/2014/03/phone.jpg 1000w"
                                     sizes="(max-width: 65px) 100vw, 65px"/> </a>
                        </div>
                        <div class="post-data">
                            <div class="post-data-container">
                                <div class="post-title">
                                    <a href="https://demo.mythemeshop.com/socialme/2014/03/26/these-20-redesigned-movie-posters-are-even-cooler-than-the-movies-wow/"
                                       title="These 20 Redesigned Movie Posters Are Even Cooler Than The Movies&#8230; WOW.">These
                                        20 Redesigned Movie Posters&nbsp;&hellip;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
</div>
{% endblock %}