<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись к врачу</title>
    <style>
        .square {
    width: 1000px;
    height: 700px;
    border-radius: 60px;
    background-color: #66A3D2;
    margin-left: auto;
    margin-right: auto;}
    


    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>
    <div class="square">
        <h1 align="center">Запись к врачу</h1>
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
<script>
$(document).ready(function () {
    //change selectboxes to selectize mode to be searchable
       $("select").select2();
    });

</script>
</html>