{% extends "register.html" %}

{% block content %}
<form action="/finish_register" method="post">
    <div class="wrap-input100 validate-input m-b-20">
        <input class="input100" type="text" name="username"
               placeholder="Введите ваше имя:">
        <span class="focus-input100"></span>
    </div>
    <div class="wrap-input100 validate-input m-b-20">
        <input class="input100" type="text" name="surname"
               placeholder="Введите вашу фамилию:">
        <span class="focus-input100"></span>
    </div>
      <div class="wrap-input100 validate-input m-b-20">
        <input class="input100" type="text" name="pass1"
               placeholder="Придумайте пароль:">
        <span class="focus-input100"></span>
    </div>
      <div class="wrap-input100 validate-input m-b-20">
        <input class="input100" type="text" name="pass2"
               placeholder="Повторите пароль">
        <span class="focus-input100"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
            <a class="txt2 hov1">
                Завершить регистрацию
            </a>
        </button>
    </div>
</form>
{% endblock %}